{
  "extends": "airbnb-base",
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "max-len": [1, 256, { "tabWidth": 2, "ignoreComments": true }],
    "linebreak-style": 0,
    "operator-linebreak": 0,
    "object-curly-newline": 0,
    "no-console": 0,
    "quotes": 0,
    "comma-dangle": 0
  }
}
